/* Education Section Styling */

.education-form {
  padding-left: 2em;
}

.education-form > input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.education-row {
  display: flex;
  padding-left: 2em;
  padding-top: 1em;
}

ul.education-list {
  margin: 0;
}

li.education-item {
  display: flex;
  flex-direction: column;
}

.education-title {
  display: flex;
}

.education-content {
  display: flex;
  flex-direction: column;
}

.education-content > span {
  margin: 0.3em 0.8em;
  font-size: 0.9rem;
}
