* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #023047;
}

/* NAVBAR */
nav {
  padding: 1.5em;
  background-color: #fca311;
}

/*GENERAL STYLING */
input {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

h1 {
  color: #1d3557;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}

h2,
h3 {
  text-decoration: underline;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: grey;
  margin-bottom: 1em;
}

button.trash-btn {
  border: none;
  background-color: white;
  font-size: 1.1rem;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 17em auto;
  margin-top: 1em;
  padding: 1em;
}

/* SIDEBAR STYLING */

.sidebar {
  background-color: white;
  border: 1px solid black;
  padding: 1.3em;
}

/* Name styling */
.name-form {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.display-name-text {
  display: flex;
  align-items: center;
}

/* Contact styling */
.contact-row {
  display: flex;
}

.display-contact-text {
  line-height: 1.5em;
}

/* Socials styling */
.display-social-text {
  display: flex;
  flex-direction: column;
}

.socials-row {
  display: flex;
}

.social-list {
  padding: 0;
  line-height: 2.5em;
}

.social-item {
  display: flex;
  align-items: center;
}

/* MAIN CONTENT STYLING */

.main {
  background-color: white;
  border: 1px solid black;
}
